@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: linear-gradient(to left, #dda15e, #bc6c25);
    /* background-image: url(https://images.pexels.com/photos/9186/food-beans-coffee-drink.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; */
}

#leftSideNav a {
    position: absolute;
    left: -160px;
    transition: 0.3s;
    padding: 15px;
    width: 160px;
    text-decoration: none;
    font-size: 20px;
    color: #fefae0;
    font-family: 'Cantarell', sans-serif;
    border-radius: 0 5px 5px 0;
    filter: drop-shadow(3px 3px 3px #19220f);
}

#leftSideNav a:hover {
    left: 0;
    color: #283618;
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
}

#home {
    top: 20px;
    background-color: #606c38;
}

#who {
    top: 100px;
    background-color: #606c38;
}

#coffee {
    top: 180px;
    background-color: #606c38;
}

#bites{
    top: 260px;
    background-color: #606c38;
}

#faq {
    top: 340px;
    background-color: #606c38;
}

#contact {
    top: 420px;
    background-color: #606c38;
}

#rewards {
    top: 500px;
    background-color: #606c38;
}